body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
h1 {
	padding: 0px;
	margin: 0px;
	font-size: 14pt;
	font-weight: bold;
	color: green;
}

#loading {
	font-weight: bold;
	margin: 60px;
	padding: 10px;
	border: 2px solid green;
	background-color: #DDEEDD;
	text-align: center;
}

#loading_dir {
	font-weight: bold;
	margin: 100px;
	padding: 10px;
	border: 2px solid green;
	background-color: #DDEEDD;
	text-align: center;
}

#logo {
	text-align: center;
}

#browser {
	overflow: scroll;
	white-space: nowrap;
}

#image {
	
}
#image-toolbar-helper {
	background-image: url('img/empty.gif');
	width: 1px;
	height: 1px;
}
#image-toolbar {
	width: auto;
	height: 20px;
	background-color: #DDEEDD;
	
}

#image_next {
	cursor: pointer;
	font-weight: bold;
}
#image_next:hover {
	color: red;
}
#image_prev {
	cursor: pointer;
	font-weight: bold;
}
#image_prev:hover {
	color: red;
}

#toolbar {
	text-align: right;
	background-color: green;
}

.toolbar_text {
	display: inline;
	padding: 0px 10px;
	text-transform: uppercase;
	font-size: 12px;
	color: #DDEEDD;
	font-weight: bold;
}

.toolbar_btn {
	display: inline;
	padding: 0px 10px;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 12px;
	border: 1px solid green;
	background-color: #DDEEDD;
	color: green;
}

.toolbar_btn:hover {
	border: 1px solid green;
	background-color: #CDCDCD;
}

.button {
	display: inline;
	padding: 0px;
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	border: 1px solid green;
	background-color: #DDEEDD;
	color: green;
}

.buton:hover {
	border: 1px solid green;
	background-color: #CDCDCD;
}

.thumb-id {
	font-size: 10px;
	font-weight: bold;
	color: black;
}
#thumbs {
	border-top: 1px solid green;
}

#thumbs_prev {
	cursor: pointer;
	text-align: center;
}
#thumbs_prev:hover {
	color: red;
}

#thumbs_next {
	cursor: pointer;
	text-align: center;
}
#thumbs_next:hover {
	color: red;
}

img.thumb_no {
	margin: 5px;
	margin-top: 10px;
}

img.thumb {
	margin: 4px;
	margin-top: 10px;
	border: 1px solid #cdcdcd;
	cursor: pointer;
}

img.thumb:hover {
	margin: 4px;
	border: 1px solid red;
}

img.thumb_act {
	margin: 4px;
	margin-top: 10px;
	border: 1px solid green;
	cursor: pointer;
}

img.thumb_act:hover {
	margin: 4px;
	border: 1px solid red;
}

div.hline {
	font-size: 1px;
	margin: 5px 1px;
	height: 2px;
	background-color: green;
}

img.lang_sel {
	margin: 3px;
	padding: 2px;
	border: 2px solid #ffffff;
	cursor: pointer;
}

img.lang_sel:hover {
	border: 2px solid red;
}

label.frm,input.frm {
	display: block;
	width: 250px;
	float: left;
	margin-bottom: 2px;
}

label.frm {
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
}